<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="styles.css" rel="stylesheet">
    <title>Editar Registro</title>
</head>

<body style="background-color:powderblue;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">        
    <nav class="navbar navbar-dark">  
      </nav>            
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Usuario Editar</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contacto">Contacto</a>
              </li>                     
            </ul>
            
          </div>
        </div>
      </nav>

      <% if (registro) { %>
      <div class="container mt-4">
          
          <div class="card border-secondary">  
                <div class="card-header">Editar Registro</div>
                <div class="card-body">
                    <form action="/updateregistro" method="POST">
                         <input id="id" name="id" value="<%= registro.id %>" hidden>
                       
                        
                         
                         <div class="mb-3">
                          <label for="user"  class="form-label">id_historiaclinica</label>
                          <select id="id_historiaclinica" name="id_historiaclinica" value="" tabindex="3" >
                          <option  <%- registro.id_historiaclinica=='2' ? "selected" : "" %> value="2" >2</option>
                          <option <%- registro.id_historiaclinica=='9' ? "selected" : "" %> value="9">9</option>
                          <option <%- registro.id_historiaclinica=='10' ? "selected" : "" %> value="10">10</option>             
                          </select>
                          </div> 


                          <div class="mb-3">
                            <label for="user"  class="form-label">Alergia</label>
                            <select id="id_historiaclinica" name="id_historiaclinica" value="" tabindex="3" >
                            <option  <%- registro.alergia=='Alergia alimentaria' ? "selected" : "" %> value="Alergia alimentaria" >Alergia alimentaria</option>
                            <option <%- registro.alergia=='Alergia a fármacos' ? "selected" : "" %> value="Alergia a fármacos">Alergia a fármacos</option>
                            <option <%- registro.alergia=='Asma alérgico' ? "selected" : "" %> value="Asma alérgico">Asma alérgico</option>             
                            <option <%- registro.alergia=='Dermatitis atópica' ? "selected" : "" %> value="Dermatitis atópica">Dermatitis atópica</option>
                            <option <%- registro.alergia=='Poliposis nasal' ? "selected" : "" %> value="Poliposis nasal">Poliposis nasal</option>
                            <option <%- registro.alergia=='Rinitis alérgica' ? "selected" : "" %> value="Rinitis alérgica">Rinitis alérgica</option>
                            <option <%- registro.alergia=='Urticaria crónica' ? "selected" : "" %> value="Urticaria crónica">Urticaria crónica</option>
                          </select>
                            </div> 


                            <div class="mb-3">
                              <label for="user"  class="form-label">importancia</label>
                              <select id="importancia" name="importancia" value="" tabindex="3" >
                              <option  <%- registro.importancia=='leve' ? "selected" : "" %> value="leve" >leve</option>
                              <option <%- registro.importancia=='normal' ? "selected" : "" %> value="normal">normal</option>
                              <option <%- registro.importancia=='alta' ? "selected" : "" %> value="alta">alta</option>             
                              </select>
                              </div>  

                              <div class="has-validation">
                                <label for="user" class="form-label">desde</label>
                                <input type="text" class="form-control" id="alergiadesde" name="alergiadesde" value="<%= registro.alergiadesde  %>"  tabindex="4" required>
                                <div class="valid-feedback">
                                !Exelente!
                                </div>
                                <div class="invalid-feedback">
                                por favor seleccione el comienzo de la alergia
                                </div>
                                </div>

                                <div class="has-validation">
                                  <label for="user" class="form-label">hasta</label>
                                  <input type="text" class="form-control" id="alergiahasta" name="alergiahasta"  value="<%= registro.alergiahasta  %>" tabindex="4" required>
                                  <div class="valid-feedback">
                                  !Exelente!
                                  </div>
                                  <div class="invalid-feedback">
                                  por favor seleccione cuando termino la alergia
                                  </div>
                                  </div>


                                  <div class="has-validation">
                                    <label for="user" class="form-label">Habito</label>
                                    <input type="text" class="form-control" id="habito" name="habito"  value="<%= registro.habito  %>" tabindex="3" required >
                                    <div class="valid-feedback">
                                    !Exelente!
                                    </div>
                                    <div class="invalid-feedback">
                                    por favor escriba el nombre del habito
                                    </div>
                                    </div>
          
                                    <div class="has-validation">
                                      <label for="user" class="form-label">desde</label>
                                      <input type="text" class="form-control" id="hdesde" name="hdesde"  value="<%= registro.hdesde  %>" tabindex="4" required>
                                      <div class="valid-feedback">
                                      !Exelente!
                                      </div>
                                      <div class="invalid-feedback">
                                      por favor seleccione el comienzo del habito
                                      </div>
                                      </div>
                                    
                                      <div class="has-validation">
                                        <label for="user" class="form-label">hasta</label>
                                        <input type="text" class="form-control" id="hhasta" name="hhasta"  value="<%= registro.hhasta  %>" tabindex="4" required>
                                        <div class="valid-feedback">
                                        !Exelente!
                                        </div>
                                        <div class="invalid-feedback">
                                        por favor seleccione cuando termino el habito
                                        </div>
                                        </div>


                                        <div class="has-validation">
                                          <label for="user" class="form-label">Medicamento</label>
                                          <input type="text" class="form-control" id="medicamento" name="medicamento"  value="<%= registro.medicamento  %>" tabindex="1"   onclick="alert('escribe tu medicamento!')" required>
                                          <div class="valid-feedback">
                                            !Exelente!
                                          </div>
                                          <div class="invalid-feedback">
                                            por favor escriba un medicamento
                                          </div>  
                                        </div> 

                                        <div class="has-validation">
                                          <label for="user" class="form-label">Fecha del medicamento</label>
                                          <input type="text" class="form-control" id="mfecha" name="mfecha"  value="<%= registro.mfecha  %>" tabindex="1"   onclick="alert('escribe tu medicamento!')" required>
                                          <div class="valid-feedback">
                                            !Exelente!
                                          </div>
                                          <div class="invalid-feedback">
                                            por favor escriba la fecha de cuando reseto el medicamento
                                          </div>  
                                        </div> 

                                        <div class="mb-3">
                                          <label for="user"  class="form-label">Antecedente</label>
                                          <input type="texto" class="form-control" id="antecedente_patologico" name="antecedente_patologico"  value="<%= registro.antecedente_patologico  %>" tabindex="3" required>
                                            <div class="valid-feedback">
                                              !Exelente!
                                            </div>
                                            <div class="invalid-feedback">
                                              por favor escriba la antecedentes
                                            </div>
                                          </div> 
                        
                        
                                          <div class="has-validation">
                                            <label for="user" class="form-label">desde</label>
                                            <input type="text" class="form-control" id="adesde" name="adesde"  value="<%= registro.adesde  %>" tabindex="4" required>
                                            <div class="valid-feedback">
                                            !Exelente!
                                            </div>
                                            <div class="invalid-feedback">
                                            por favor seleccione el comienzo del antecedente
                                            </div>
                                            </div>
                                          
                                            <div class="has-validation">
                                              <label for="user" class="form-label">hasta</label>
                                              <input type="text" class="form-control" id="ahasta" name="ahasta"  value="<%= registro.ahasta  %>" tabindex="4" required>
                                              <div class="valid-feedback">
                                              !Exelente!
                                              </div>
                                              <div class="invalid-feedback">
                                              por favor seleccione cuando termino el antecedente
                                              </div>
                                              </div>

                                              <div class="has-validation">
                                                <label for="user" class="form-label">Evolucion</label>
                                                <input type="text" class="form-control" id="evolucion" name="evolucion"  value="<%= registro.evolucion  %>" tabindex="2" required>
                                                <div class="valid-feedback">
                                                !Exelente!
                                                </div>
                                                <div class="invalid-feedback">
                                                por favor escriba una evolucion
                                                </div>
                                                </div>


                                                <div class="has-validation">
                                                  <label for="user" class="form-label">Diagnostico</label>
                                                  <input type="text" class="form-control" id="diagnostico" name="diagnostico"  value="<%= registro.diagnostico  %>" tabindex="2" required>
                                                  <div class="valid-feedback">
                                                    !Exelente!
                                                  </div>
                                                  <div class="invalid-feedback">
                                                    por favor escriba el diagnostico
                                                  </div>
                                                </div>

                                                <div class="has-validation">
                                                  <label for="user" class="form-label">Estado</label>
                                                  <input type="text" class="form-control" id="estado" name="estado"  value="<%= registro.estado  %>" tabindex="2" required>
                                                  <div class="valid-feedback">
                                                    !Exelente!
                                                  </div>
                                                  <div class="invalid-feedback">
                                                    por favor escriba el estado
                                                  </div>
                                                </div>
                                

                         
                        <button type="submit" class="btn btn-primary" tabindex="4">Guardar</button>
                        <a href="/indexregistro" class="btn btn-secondary">Cancelar</a>
                        <button  type="reset">Resetear</button>
                    </form>
       
                </div>
            </div>     
      </div>
      <% } %>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
      <script src="http://js.nicedit.com/nicEdit-latest.js" type="text/javascript"></script>
      <script type="text/javascript">bkLib.onDomLoaded(nicEditors.allTextAreas);</script>
    </body>
</html>